* {
    box-sizing: border-box;
    margin: 0%;
    padding: 0%;
}

html,
body{
    height: 100%;
    width: 100%;
}

.navbar {
    height: 45px;
    width: 100%;
    background-color: #e8e8ed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 0 300px;
}

.nav-link {
    font-weight: 500;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-size: 12px;
    cursor: pointer;

}

i {
    color: black;
}

.container {
    display: flex;
    flex-direction: row;
    
}

.left-card {
    width: 50%;
    height: 100%;
    background-color: #f4f4f4;
}

.right-card {
    width: 50%;
    height: 100%;
    background-color: #f4f4f4;
}
img {
    height: 900px;
    width: 100%;
}

.left-card-text{
    position: absolute;
    top: 17%;
    left: 24%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    color: antiquewhite;
    text-align: left;
}

.right-card-text{
    position: absolute;
    top: 15%;
    left: 65%;
    font-size: 20px;
    transform: translate(-50%, -50%);
    color: antiquewhite;
    text-align: left;
}

.left-card-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1.5px solid white;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.left-card-button:hover {
  background-color: white;
  color: black;
}

.right-card-button {
  padding: 10px 20px;
  font-size: 16px;
  font-weight: 500;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1.5px solid white;
  color: white;
  border-radius: 6px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.right-card-button:hover {
  background-color: white;
  color: black;
}